<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAR4mjYFBQgTvk1r6x4YEtgafnU-RU4MRo</string>
	<key>GCM_SENDER_ID</key>
	<string>967803149985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Golden.LoopRumble</string>
	<key>PROJECT_ID</key>
	<string>golden-loop-rumble</string>
	<key>STORAGE_BUCKET</key>
	<string>golden-loop-rumble.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967803149985:ios:46044d429ce2471b2d9ae0</string>
</dict>
</plist>